In [2]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Python

In [3]:
# Calculator (add numbers)
4 + 6

10

In [ ]:
# Multiplication

In [5]:
5 * 7 * .5

17.5

In [6]:
5*7*.5

17.5

In [ ]:
# Number of hours in a week

In [7]:
24 * 7

168

In [ ]:
# Number of hours per year

In [8]:
168 * 52

8736

In [ ]:
# Number of minutes per year

In [10]:
24 * 7 * 52 * 60

524160

In [ ]:
# Number of seconds per year

In [11]:
24 * 7 * 52 * 60 * 60

31449600

(back to slides)
# Names

In [13]:
number_of_seconds_per_year = 24 * 7 * 52 * 60 * 60
number_of_seconds_per_year

31449600

In [ ]:
# Number of hours in a week
# Number of hours per year

### Break it up into smaller steps

In [14]:
# Assign number of hours in a week to a name
hours_per_week = 24 * 7
hours_per_week

168

In [ ]:
# Run the cell to see the value that is assigned to the name

In [ ]:
# Now use that to compute the number of hours per year

In [17]:
weeks_in_year = 52

In [20]:
#                   168         * 52
hours_per_year = hours_per_week * weeks_in_year
hours_per_year

8736

(back to slides)
# Functions/Expressions

In [21]:
abs(-10)

10

In [22]:
abs(10)

10

In [ ]:
# max(...)

In [23]:
min(-4, 3)

-4

In [24]:
#min(4, 3)
min(abs(-4), 3)

3

### How do we save the result of a function?

In [25]:
## add an example saving the result of a function
min_4_3 = min(4, 3)
min_4_3

3

(back to slides)
# Numbers

In [ ]:
a = 4
b = 3.0

In [ ]:
## Limited sizes of floats

In [26]:
3433.444555566666666666666666666668666632 # Run

3433.4445555666666

In [ ]:
# Copy that but change the last few decimal places

In [27]:
float1 = 3433.444555566666666666666666666668666632
float2 = 3433.444555566666666666666666666668665555555

In [28]:
float1, float2

(3433.4445555666666, 3433.4445555666666)

### Comparisions:
Checking whether two names have the same value: `==`

Checking whether one name is great than another: `>`

Checking whether one name is great than or equal to another: `>=`

In [29]:
print(1 == 2)
print(1 == 1)
print("hello" == "hellow")
print("hello" == "hello")

False
True
False
True

#### Do `float1` and `float2` have the same value?  Is one bigger than another?

In [ ]:
## print equal
## print greater
## printer greater than or equal

In [30]:
float1 == float2

True

In [31]:
float1 > float2

False

In [32]:
float1 >= float2

True

## Math between floats and ints

#### What do we think happens?

In [33]:
1.1 + 2 # Will this be a float or an int

3.1

In [ ]:
 # Check using type()

In [34]:
1.1 * 8 # Will this be a float or an int

8.8

In [35]:
 # Check using type()
type(1.1 * 8)

float

In [36]:
type(8)

int

(back to slides)
# Strings

In [38]:
type("hello world")

str

In [39]:
# what happens if we plus two strings
"hello" + "world"

'helloworld'

In [40]:
# what about multiplying two strings
"hello" * "world"

TypeError: can't multiply sequence by non-int of type 'str'

In [41]:
# what about multiplying a string and an int
"hello" * 4

'hellohellohellohello'

In [43]:
"hello " * 4

'hello hello hello hello '

In [44]:
"hello" * 4.5

TypeError: can't multiply sequence by non-int of type 'float'

In [45]:
"hello" * 3.0

TypeError: can't multiply sequence by non-int of type 'float'

In [46]:
"hello" * 3

'hellohellohello'

In [47]:
"hello" * int(3.0)

'hellohellohello'

In [ ]:
# what about multiplying a string and a float

### Discussion Question

In [48]:
x = 3
y = '4'
z = '5.6'

In [49]:
# A:
x + y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [50]:
'4' + '5.6'

'45.6'

In [51]:
'5.6' + '4'

'5.64'

In [53]:
int('4')

4

In [56]:
int('5.6')

ValueError: invalid literal for int() with base 10: '5.6'

In [64]:
x, y, z

(3, '4', '5.6')

In [52]:
# B
x + int(y+z)

ValueError: invalid literal for int() with base 10: '45.6'

In [66]:
y + z
#'4' + '5.6'

'45.6'

In [67]:
int('45.6')

ValueError: invalid literal for int() with base 10: '45.6'

In [57]:
x, y

(3, '4')

In [58]:
# C
str(x) + int(y)

TypeError: can only concatenate str (not "int") to str

In [60]:
str(x), int(y)

('3', 4)

In [61]:
'3' + 4

TypeError: can only concatenate str (not "int") to str

In [62]:
y, z

('4', '5.6')

In [63]:
# D
y + float(z)

TypeError: can only concatenate str (not "float") to str

(back to slides)
# Converting Types

In [ ]:
float("one point two")

In [ ]:
# Converting floats to int
int(2.3)

# Tables

In [ ]:
Table().read_table("party_affiliation2016.csv")

**How do we store the table?**

In [ ]:
party_affiliations = Table().read_table("party_affiliation2016.csv")

### How do we find the number of columns in a table?

### How do we find the number of rows in a table?