In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Python

In [ ]:
# Calculator (add numbers)

In [ ]:
# Multiplication

In [ ]:
# Number of hours in a week

In [ ]:
# Number of hours per year

In [ ]:
# Number of minutes per year

In [ ]:
# Number of seconds per year

(back to slides)
# Names

In [ ]:
# Number of hours in a week
# Number of hours per year

### Break it up into smaller steps

In [ ]:
# Assign number of hours in a week to a name

In [ ]:
# Run the cell to see the value that is assigned to the name

In [ ]:
# Now use that to compute the number of hours per year

(back to slides)
# Functions/Expressions

In [ ]:
abs(-10)

In [ ]:
# max(...)

In [ ]:
# min(... )

### How do we save the result of a function?

In [ ]:
## add an example saving the result of a function

(back to slides)
# Numbers

In [ ]:
## Limited sizes of floats

In [ ]:
3433.444555566666666666666666666668666632 # Run

In [ ]:
# Copy that but change the last few decimal places

In [ ]:
float1 = ...
float2 = ...

### Cmparisions:
Checking whether two names have the same value: `==`

Checking whether one name is great than another: `>`

Checking whether one name is great than or equal to another: `>=`

In [ ]:
print(1 == 2)
print(1 == 1)
print("hello" == "hellow")
print("hello" == "hello")

#### Do `float1` and `float2` have the same value?  Is one bigger than another?

In [ ]:
## print equal
## print greater
## printer greater than or equal

## Math between floats and ints

#### What do we think happens?

In [ ]:
1.1 + 2 # Will this be a float or an int

In [ ]:
 # Check using type()

In [ ]:
1.1 * 8 # Will this be a float or an int

In [ ]:
 # Check using type()

(back to slides)
# Strings

In [ ]:
# what happens if we plus two strings

In [ ]:
# what about multiplying two strings

In [ ]:
# what about multiplying a string and an int

In [ ]:
"hello" * 4.5

In [ ]:
# what about multiplying a string and a float

### Discussion Question

In [ ]:
x = 3
y = '4'
z = '5.6'

In [ ]:
# A:
x + y

In [ ]:
# B
x + int(y+z)

In [ ]:
# C
str(x) + int(y)

In [ ]:
# D
y + float(z)

(back to slides)
# Converting Types

In [ ]:
float("one point two")

In [ ]:
# Converting floats to int
int(2.3)

# Tables

In [2]:
Table().read_table("party_affiliation2016.csv")

Income             | Republican% | Democrat% | No leaning%
Below 30,000       | 32          | 60        | 8
30,000 to 39,999   | 47          | 46        | 7
50,000 to 74,999   | 49          | 44        | 6
75,000 to 99,999   | 48          | 44        | 8
40,000 to 49,999   | 47          | 46        | 7
100,000 to 149,999 | 51          | 45        | 4
Above 150,000      | 46          | 48        | 6

**How do we store the table?**

In [3]:
party_affiliations = Table().read_table("party_affiliation2016.csv")

### How do we find the number of columns in a table?

### How do we find the number of rows in a table?